.edit-icon{
    color: white;
    background-color: #42A5F5 !important;
    font-size: 15px;
    border: 1px solid ;
    padding: 3px;
    border-radius: 6px;
}
.delete-icon{
color: white;
background-color: #ef5350 !important;
font-size: 15px;
    border: 1px solid ;
    padding: 3px;
    border-radius: 6px;
    padding-left: 9px;
}

.table-primary{
    color: rgb(56, 12, 12);

}