@media only screen and (max-width:700px){
.container1{
    width: 350px;
    margin: auto;
}
}
.appointments_bg_img{
    background-image: url('../assets/images/doctor.jpg');
    height: 1500%;
    color: white;
}
.sct-color-2 {
    background-color: #fcfcfc;
}
.slice {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
form {
    display: block;
    margin-top: 0em;
}
.form-group {
    margin-bottom: 1rem;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}
.checkbox {
    outline: none;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 0.875rem;
    line-height: 18px;
}
label {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: none;
}
.btn-base-1 {
    color: #FFF;
    background-color: #0087be;
    border: 1px solid #0087be;
}
.btn-styled {
    padding: 0.75rem 1.5rem;
}
.btn {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
}
button, input {
    overflow: visible;
}